__pycache__

eclayr.egg-info

eclayr/cubical/cython_eclayr/build
eclayr/cubical/cython_eclayr/ecc.c
eclayr/cubical/cython_eclayr/ecc.cpython-310-x86_64-linux-gnu.so
eclayr/cubical/cython_eclayr/ecc.html
eclayr/cubical/cython_eclayr/ecc_original.pyx

eclayr/cubical/cython_sigmoid/build
eclayr/cubical/cython_sigmoid/ecc_sigmoid.c
eclayr/cubical/cython_sigmoid/ecc_sigmoid.cpython-310-x86_64-linux-gnu.so
eclayr/cubical/cython_sigmoid/ecc_sigmoid.html

MNIST/dataset
MNIST/ablation_configs
MNIST/ablation.py
MNIST/*.sh

ORBIT5K/dataset
ORBIT5K/saved_weights
ORBIT5K/*.sh


MedMNIST
MedMNIST3D

ph_models/*.sh
ph_models/test.ipynb

hp_search.py
hp_search.sh
requirements.txt